*.user
*.exp
*.ilk
*.pdb
*.dll
*.log.*
*.autosave
*-pre1
qtc_*/*
release/*
Run
debug/*
Makefile
Makefile.*
ui_*
Run/*.log
Run/*.sqlite
Run/bot_token*.ini
Run/lib*.a
*.qbs.user.*
*.qbs.user
libs/*
Run/*

